body, html {
  margin: 0;
  /* background-color: rgb(30, 30, 30); */
}
html {
  height: 100%;
}

#math-robot {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
}
#math-robot td, #math-robot th {
  border: 1px solid #ddd;
  padding: 8px;
}
#math-robot img {
  width: 80%;
  height: auto;
}
#math-robot tr:nth-child(even){
  background-color: #f2f2f2;
}

#math-robot tr:hover {
  background-color: #ddd;
}

#math-robot th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(171,141,63);
  color: white;
}
#resultYrobotBig, #valueXstudentBig {
  font-size: 4em;
}
input, select {
  width: 100%;
  height: 20px;
}
#buttonSubmit, #buttonReset {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  height: 40px;
  font-weight: bold;
}
#buttonSubmit {
  background-color: rgb(100,180,100);
  color: rgb(240,240,240);
}
#buttonReset {
  background-color: rgb(180,100,100);
  color: rgb(240,240,240);
}
#buttonSubmit:hover {
  background-color: rgb(0,240,0);
  color: rgb(240,240,240);
}
#buttonReset:hover {
  background-color: rgb(240,0,0);
  color: rgb(240,240,240);
}
